* {
    box-sizing: border-box;
}

body {
    font-family: Maven Pro;
    font-weight: 300;
    line-height: 1.25rem;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    line-height: 2rem;
}

a {
    text-decoration: none;
    color: gray;
    padding: 10px 20px;
}

a:hover {
    color: #fe5503;
}

img {
    width: 100px;
    padding: 0 10px;

}

nav {
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding-left: 500px;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    text-align: center;
}

.centrato {
    text-align: center;
}

header {
    padding: 0 20px;
    margin-top: 20px;
}

#top a {
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
    padding: 0px;

}

#top {
    position: fixed;
    right: 30px;
    bottom: 50px;
    width: 40px;
    height: 40px;
    padding: 0;
    background-color: #302b2b;
    border: none;
}

footer {
    text-align: center;
    background-color: #444;
    color: #fff;
}

.social {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #ccc;
    padding: 8px;
    color: #fff;
}

h4 {
    margin-bottom: 20px;
}

footer p {
    background-color: #302b2b;
    padding: 15px;
    margin: 0 auto;
}

#footer {
    padding: 15px;
}

.arancio {
    color: #fe5503;
}

.form {
    width: 50%; 
    display: inline-block;
}