/*impostazioni di base*/
* {
    box-sizing: border-box;
}

body {
    font-family: Maven Pro;
    font-weight: 300;
    line-height: 1.25rem;
    font-size: 1,3rem;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    line-height: 3rem;
    margin: 30px;
}


h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

/*inizio progetto*/

#tel{
    padding: 0;
}

a {
    text-decoration: none;
    color: gray;
    padding: 10px 10px;
}

a:hover {
    color: #fe5503;
}

img {
    width: 100px;
    padding: 0 10px;
    margin-top: 20px;
}



nav div{
    display: inline-block;
    text-align: center;
    font-weight: bold;
    margin-bottom: 50px;
}

.fa-phone{
    color:#fe5503;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    text-align: center;
}

.centrato {
    text-align: center;
}

header {
    padding: 0 20px;
    margin-top: 20px;
}


span{
    color: #fe5503;
}

.sfondo{
    padding: 150px;
    background-image: url('https://picsum.photos/800/800');
    background-size: cover;
    background-position: center, top;
    min-height: 500px;
    color: #fff;
    position: relative;
    z-index: 1;
}

.overlay{
  background-color: rgba(0, 0, 0, 0.5); 
  height: 100%; 
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.contenitore{
    margin: 0 auto;
    width: 600px;
    text-align: center;
}

#register{
    margin: 100px;
    border: 1px solid #fff;
    padding: 10px;
    width: 200px;
    display: inline-block;
    text-align: center;
}

#register a{
    color: #fff;
}



/*footer e fondo pagina*/

#top a {
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
    padding: 0px;

}

#top {
    position: fixed;
    right: 30px;
    bottom: 5px;
    width: 40px;
    height: 40px;
    padding: 0;
    background-color: #302b2b;
    border: 1px solid #fff;

}

footer {
    text-align: center;
    background-color: #444;
    color: #fff;
}

.social {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-color: #ccc;
    position: relative;
    color: #fff;
    margin: 20px 2px;
}

.social .fa-brands{
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    padding-left: 0.2rem;
    
}
.social a{
    display: inline-block;
    text-align: center;
    
}

footer p {
    background-color: #302b2b;
    padding: 15px;
    margin: 0 auto;
}

#footer {
    padding: 15px;
}






